.App {
  font-size: 20px;
}

body {
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
}

.app-name {
  text-align: center;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  width: 50%;
  height: 24px;
  text-align: center;
  font-size: 20px;
  border-radius: 15px;
}

.search-button {
  height: 30px;
  background-color: black;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
}

.search-button:hover{
  background-color: transparent;
  color: black;
  cursor: pointer;
}

.loading {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.recipe-box {
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  margin: 50px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.75);
}

.recipe-box ul li {
  list-style-type: none;
}

.row {
  display: flex;
  flex-wrap: wrap;  
}

.column {
  flex: 25%;
  max-width: 25%;
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .recipe-box {
    max-width: 90% !important;
  }
}